<configuration debug="true">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    　　　<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
　　　　　 <encoder> 
　　　　　　　　　<pattern>%d [%thread] %-5level %logger{35} - %msg %n</pattern> 
　　　　　 </encoder> 
　　　</appender> 

　　　<root level="INFO">
　　　　　　<appender-ref ref="STDOUT" /> 
　　　</root> 
    <logger name="io.netty" level="info"/>
    <logger name="io.grpc" level="debug"/>
    <logger name="sun" level="info"/>
    <logger name="javax.management" level="info"/>
    <logger name="org.springframework" level="info"/>
</configuration>
